# Fichiers système Mac

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Documents
.DocumentRevisions-V100
.fseventsd
.TemporaryItems
.Trashes
.env

HELP.md
target/
.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

# Fichiers d'IDE
.

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

###  ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/
